/* Confirm Dialog */

@import "colors/00color-choice.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
	font:				 	"Liberation Mono 19";
}

window {
    width:      			270px;
    padding:    			25px;
    border:					2px;
    border-radius:          0px;
    border-color:           @border;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@background-alt;
}
